*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 
body{
	height: 100vh;
	width: 100vw;
}
.navbar{
	height: 10%;
}
.navbar ul{
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}
.image{
	text-align: center;
}